---
- name: Create zigbee2mqtt user
  ansible.builtin.user:
    name: "{{ zigbee_user }}"
    groups: "{{ zigbee_user_groups }}"
    append: "{{ zigbee_user_append }}"

- name: Create zigbee2mqtt directory
  ansible.builtin.file:
    path: "{{ zigbee_dir }}"
    state: directory
    owner: "{{ zigbee_user }}"
    mode: 0700

- name: check for existing data directory
  register: _data_dir
  ansible.builtin.stat:
    path: "{{ zigbee_data_dir }}"
    get_checksum: false

- name: backup data directory
  when: _data_dir.stat.exists
  block:
    - name: create temporary file
      register: _backup_file
      ansible.builtin.tempfile:
        path: '~'

    - name: create backup
      register: _backup
      community.general.archive:
        path: "{{ zigbee_data_dir }}"
        dest: "{{ _backup_file.path }}"

- name: Clone zigbee2mqtt repository
  register: _repo
  notify: Restart zigbee2mqtt
  changed_when: _repo.before != _repo.after
  ansible.builtin.git:
    repo: "{{ zigbee_repository }}"
    depth: 1
    dest: "{{ zigbee_dir }}"
    update: true
    force: true
    version: "{{ zigbee_version }}"

- name: Install zigbee2mqtt via npm
  when: _repo is changed # noqa: no-handler
  notify: Restart zigbee2mqtt
  community.general.npm:
    path: "{{ zigbee_dir }}"
    ci: true
    no_optional: true

- name: restore backup of data directory
  when:
    - _data_dir.stat.exists
    - _backup_file is succeeded
  block:
    - name: restore backup
      when: _backup is succeeded
      ansible.builtin.unarchive:
        src: "{{ _backup_file.path }}"
        dest: "{{ zigbee_data_dir }}"
        remote_src: true
        extra_opts:
          - --strip-components=1

    - name: remove backup
      ansible.builtin.file:
        path: "{{ _backup_file.path }}"
        state: absent

- name: Set permissions for zigbee2mqtt
  ansible.builtin.file:
    path: "{{ zigbee_dir }}/dist"
    state: directory
    recurse: true
    owner: "{{ zigbee_user }}"

- name: Generate network key
  no_log: true
  notify: Restart zigbee2mqtt
  ansible.builtin.template:
    src: network_key.yaml.j2
    dest: "{{ zigbee_dir }}/data/network_key.yaml"
    owner: "{{ zigbee_user }}"
    group: "{{ zigbee_user }}"
    mode: 0600
    force: "{{ zigbee_generate_new_network_key }}"

- name: Install configuration template
  notify: Restart zigbee2mqtt
  ansible.builtin.template:
    src: configuration.yaml.j2
    dest: "{{ zigbee_dir }}/data/configuration.yaml"
    owner: "{{ zigbee_user }}"
    mode: 0600

- name: Install systemd service template
  notify:
    - Reload zigbee2mqtt daemon config
    - Start zigbee2mqtt service
  ansible.builtin.template:
    src: zigbee2mqtt.service.j2
    dest: /etc/systemd/system/zigbee2mqtt.service
    owner: "{{ zigbee_user }}"
    mode: 0644
